.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--bs-secondary-color);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
}

.nav-link {
    color: var(--bs-light) !important;
}

.active {
    background-color: var(--bs-info-bg-subtle) !important;
    color: var(--bs-dark-text-emphasis) !important;
    font-weight: 500;
}

#theme {
    position: absolute;
    right: 23px;
    top: 23px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--bs-info-bg-subtle);
    cursor: pointer;
}

.container-md{
    padding-top: 50px;
    max-width: 80%;
}

@media (min-width: 768px){
    .container-md {max-width: 50%;}
    .nav-pills {flex-direction: row;}
}
