.container-md{
    padding-top: 50px;
    max-width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--bs-secondary-color);
}

.nav-pills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#theme-img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    position: center;
    cursor: pointer;
}

.nav-link {
    color: var(--bs-light) !important;
}

.active {
    background-color: var(--bs-info-bg-subtle) !important;
    color: var(--bs-dark-text-emphasis) !important;
}

@media (min-width: 768px){
    .container-md {max-width: 50%;}
    .nav-pills {flex-direction: row;}
}
